service: dimestore
plugins:
  - serverless-offline
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs8.10
  region: us-east-1
  environment:
    DYNAMO_ACCESS_KEY: ${env:DIME_AWS_ACCESS_KEY}
    DYNAMO_SECRET_ACCESS_KEY: ${env:DIME_AWS_SECRET_KEY}
    PLAID_CLIENT_ID: ${env:DIME_PLAID_CLIENT_ID}
    PLAID_SECRET: ${env:DIME_PLAID_SECRET}
    PLAID_PUBLIC_KEY: ${env:DIME_PLAID_PUBLIC_KEY}
    # Enable this on deploy when we are ready to do live transactions
    # STRIPE_SECRET: ${env:DIME_STRIPE_SECRET}
  iamRoleStatements:
    - Effect: Allow
      Action: dynamodb:*
      Resource: arn:aws:dynamodb:us-east-1:*:*
  stage: prod

# custom:
#   webpack:
#   includeModules:
#     forceExclude:
#       - aws-sdk

functions:
  createUser:
    handler: src/routes/createUser.default
    events:
      - http:
          path: user/create
          method: post
          cors: true
  getUser:
    handler: src/routes/getUserById.default
    events:
      - http:
          path: user/{id}
          method: get
          cors: true
  updateUser:
    handler: src/routes/updateUser.default
    events:
      - http:
          path: user/{id}/update
          method: post
          cors: true
  plaidWebhook:
    handler: src/routes/plaidWebhook.default
    events:
      - http:
          path: user/plaid/webhook
          method: post
          cors: true
  uploadPhoto:
    handler: src/routes/uploadPhoto.default
    events:
      - http:
          path: user/{id}/uploadPhoto
          method: post
          cors: true
  createCharity:
    handler: src/routes/createCharity.default
    events:
      - http:
          path: charity/create
          method: post
          cors: true
  updateCharity:
    handler: src/routes/updateCharity.default
    events:
      - http:
          path: charity/{id}/update
          method: post
          cors: true
  getCharityById:
    handler: src/routes/getCharityById.default
    events:
      - http:
          path: charity/{id}
          method: get
          cors: true
  getCharitiesByCity:
    handler: src/routes/getCharitiesByCity.default
    events:
      - http:
          path: charities/city/{city}
          method: get
          cors: true
  info:
    handler: src/routes/info.default
    events:
      - http:
          path: info
          method: get
          cors: true

resources:
  Resources:
    DimeStoreUsersTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: 'dime-users'
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
    DimeStoreCharitiesTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: 'dime-charities'
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
    DimeStoreDonationsTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: 'dime-donations'
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
